$white: #ffffff;
$black: #080808;
$black-primary: #616161;
$black-secondary: #171717;
$black-tertiary: #3A3D3F;
$black-footer: #272526;

$brand-red: #D32020;
$gray: #777777;
$gary-light: #FBFBFB;
$gary-list-light: #F4F4F4;



$font-family: "Poppins", sans-serif;
$weight-normal: 400;
$weight-bold: 700;
$weight-middle: 500;
$weight-light: 300;

$font-size: 16px;
$line-height-primary: 24px;


$desktop-layout: 1440px;
$tablet-layout: 768px;  
$mobile-layout: 375px;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-large: 819px;
$breakpoint-desktop: 1024px;

// Media query mixins

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin tablet-large {
  @media (max-width: #{$breakpoint-tablet-large}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}
