$white: #ffffff;
$black: #080808;
$black-primary: #616161;
$brand-red: #D32020;


$font-family: "Poppins", sans-serif;
$weight-normal: 400;
$weight-bold: 700;
$weight-middle: 500;
$weight-light: 300;

$font-size: 16px;
$line-height-primary: 24px;


$desktop-layout: 1440px;
$tablet-layout: 768px;  
$mobile-layout: 375px;
